.banner{
	/*background: black;*/
	/*height: 750px;*/
	padding-top: 80px;
}

.banner .banner-text{
	margin-top: 160px;
	padding-right: 0;
	padding-left: 0;

}
.banner .banner-text h1{
	color: #333;
	font-family: var(--font-regular);
	font-size: 45px;
	text-transform: uppercase;

}

.banner .banner-text p{
	color: var(--brand-color);
	font-size: 20px;
	font-family: var(--font-light);

}
.banner-text .banner-btn{
	width: 180px;
	height: 50px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	background:var(--brand-color);
	border: none;
	border-radius: 26px;
	outline: none;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
	margin-top: 15px;
	margin-left: 160px;
}
.banner-text .banner-btn:hover{
	background: #3b3e6a;
}
.banner .banner-img {
	width: 100%;
	padding-left: 0;
	padding-right: 0;


}

/*Mobile First*/
@media screen and (max-width: 576px){

	.banner .banner-img img{
		height: 400px;
		margin-left:70px;

	}
	.banner .banner-text{
		margin:80px 20px;
		padding: 0 20px;
		text-align: center;

	}

	.banner .banner-text h1{
		font-size: 30px;

	}

	.banner-text .banner-btn{
		font-size: 16px;
		width: 150px;
		height: 40px;
		margin-top: 0;
		margin-left: 0;
}
}
@media screen and (min-width: 577px) and (max-width: 768px){

	.banner .banner-img img{
		width: 80%;
		height: 400px;
		margin-left: 50px;
	}

	.banner .banner-text{
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 0px;
		margin-bottom: 80px;
		text-align: center;
		
		

	}


	.banner .banner-text h1{
		font-size: 30px;

	}
	.banner-text .banner-btn{
		font-size: 16px;
		width: 150px;
		height: 40px;
		margin-top: 0;
		margin-left: 0;
}
}

@media screen and (min-width: 769px) and (max-width: 992px){

.banner .banner-img img{

		height: 350px;
		padding-left: 20px;
		
	}

		.banner .banner-text{
		padding-top: 90px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
		text-align: center;
		

	}

	.banner .banner-text h1{
		font-size: 25px;
		


	}
	.banner .banner-text p{
		font-size: 17px;
		/*text-align: justify;*/
		

	}
	.banner-text .banner-btn{
		font-size: 16px;
		width: 140px;
		height: 35px;
		margin-top: 0;
		margin-left: 0;
		text-align: center;
}
}

@media screen and (min-width: 993px) and (max-width: 1200px){
	.banner .banner-img img{
		height: 450px;
		/*margin-top: -100px;*/
	}

	.banner .banner-text{
		padding-top: 120px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
		text-align: center;

	}

	.banner .banner-text h1{
		font-size: 30px;

	}
	.banner .banner-text p{
		font-size: 18px;

	}
	.banner-text .banner-btn{
		font-size: 18px;
		width: 170px;
		height: 40px;
		margin-top: 0;
		margin-left: 0;
}

}

/*For Smaller Devices*/
@media screen and (min-width:412px) and (max-width: 495px) {

	.banner .banner-img img{
		height: 400px;
		margin-left:0;
		padding-left: 70px;
	}


}
