.footer{
	/*background: grey;*/
	padding-top: 80px;
	color: #3f3f52;
}
.footer .footer-1 h4,.footer .footer-2 h4,.footer .footer-3 h4{
	font-size: 18px;
	text-transform: uppercase;
}
.footer .footer-1{
	
	padding-left: 150px; 
	
}
.footer .footer-1 .gp2{
	padding-left: 15px;
}
.footer .footer-1 p,.footer .footer-2 p,.footer .footer-3 p,.footer-cr{
	margin-bottom: 0;
	font-family: var(--font-light);
	font-size: 15px;
	
}
.footer .footer-2{
	
	padding-left: 50px; 
	
}
.footer .footer-3 p{
	padding: 0 30px;
	text-align: justify;
}

.footer h6{
	font-size: 18px;
	font-family: var(--font-light);
	text-align: center;
	margin-top: 40px;

}
.footer .social-icons {
	margin-left: 485px;
}
.footer .social-icons img{
	height: 25px;
	padding: 0 5px;

}

.footer .footer-cr{
	/*margin-left: 440px;*/
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

/*Mobile First*/
@media screen and (max-width: 576px){
	.footer .footer-1{
		padding-left: 185px;
	}
	.footer .footer-1 h4{
		padding-left: 15px;
	}

	.footer .footer-2{
		margin-left: 130px; 
		margin-top: 20px;
	}
	.footer .footer-3{
		margin-top: 20px;
		padding: 0 70px;
	}
	.footer .social-icons {
	margin-left: 185px;
}
	.footer .social-icons img{
	height: 25px;
	padding: 0 5px;

}

}
@media screen and (min-width: 577px) and (max-width: 768px) {

	.footer .footer-1{
		padding-left: 185px;
	}
	.footer .footer-1 h4{
		padding-left: 15px;
	}

	.footer .footer-2{
		margin-left: 130px; 
		margin-top: 20px;
	}
	.footer .footer-3{
		margin-top: 20px;
		padding: 0 70px;
	}
	.footer .social-icons {
	margin-left: 185px;
	}
	
}

@media screen and (min-width: 769px) and (max-width: 992px) {

	.footer .footer-1{
		padding-left: 40px;
	}
	.footer .footer-2{
		padding-left: 10px;
		padding-right: 0; 
	}
	.footer .footer-3 p{
		padding:0 10px;
	}
	.footer .social-icons {
	margin-left: 275px;
	}

}
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.footer .social-icons {
	margin-left: 394px;
	}
}
/*For Smaller Devices*/
@media screen and (min-width:412px) and (max-width: 495px) {
	.footer .footer-1{
		padding-left: 140px;
	}
	.footer .footer-2{
		padding-left: 130px;
		margin-left: 0px;
	}
	.footer .social-icons {
	margin-left: 135px;
	}
}
